body {
  margin: 0;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614383683_20-p-fon-dlya-rabochego-stola-odnotonnii-svetli-21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} 

#table_lab {
  position: absolute;
  z-index: 2;
  background: rgba(255,255,255,0%);
  width: 1000px;
  height: 200px;
  top: 30%;
  left: 10%;
} 
table {
   width: 100%;
   height: 100%;
}
th {
   width: 100px;
   height: 100%;
}
.lab1 {
  width: 150px;
  height: 150px;
}

.lab2 {
  width: 150px;
  height: 150px;
}

.lab3 {
  width: 195px;
  height: 195px;
}
.lab4 {
  width: 150px;
  height: 150px;
}
.lab5 {
  width: 150px;
  height: 150px;
}

